.titulobubba{ 

	font-family: "Nunito", sans-serif;
	color:white;
	text-align:center;
	text-decoration:none;
	font-size:30px;

 }

.contenedorPadre{

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
}

.logo{
	
	width: 50%;
	height: 110px;
	align-content: center;
	margin-top: 10px;
	
}

.header{

	background-color:#000000;
	width:100%;
	height: 145px;
	bottom:0;
	position:relative;
	text-align: center;
	color:white;
	margin-bottom:10px;
}

.parrafoHeader{

	display: flex;
	flex-direction: row;
	justify-content: right;
	color: white;
	text-align:right;
	font-size:15px;	
	font-family: "Noto Sans", sans-serif;

}

.parrafos{

	color: #4D4B4B;
	font-family: "Noto Sans", sans-serif;
	font-size:17px;
	padding-bottom: 0px;
	text-align:left; 
	margin-top: 0px;

	
}

.headerNosotros{

	font-family: "Noto sans", sans-serif;
	font-size: 50px;
	text-decoration: none;
	text-align: center;

}

.imagenesNosotros{

	padding-right:20px;
	padding-left: 13px;
	justify-content: center;

}

.contenedorGrid{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	padding: 10px;
}

.contenedorGrid > div {

	justify-content: center;
	padding: 20px 0;
	font-size: 30px;

}


.subtitulosForm{

	font-family: "Nunito", sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	text-align:left;
}

.restoDelForm{

	font-family:"Nunito", sans-serif;
	color:#FFFFFF;
	text-align:left;
}

form{

	font-family:"Nunito", sans-serif;
	padding:5px;
    display: inline-block;
    color:#FFFFFF;
}

.botones{

	padding: 10px 15px;
	font-size: 15px;
	font-weight: 700;
	border: 2px solid white;
	border-radius:5px;
	transform: translate(10px 20px);
	color: #000000;
}

.contacto{

	font-family: "Nunito", sans-serif;
	font-size: 25px;
	text-align: center;
	text-decoration: underline;

}

.divPadre{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	
}

.divHijo{

	align-self: center;
	margin-right: 30px; 
	
}

.subtitulosMenu{

	font-family:"Nunito", sans-serif;
	font-weight: 800px;
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	margin-top: 20px;
	color:#FFFFFF;
}

.parrafosMenu{

	font-family: "Nunito", sans-serif;
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
	color:#FFFFFF;
}


*{

	margin:0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}


.social {

	position: fixed;
	left: 0;
	top: 200px;
	z-index: 2000;

}


.social ul{


	list-style: none 
}



.social ul li a {

	display: inline-block;
	color: #FFFFFF;
	background:#000000;
	padding:10px 15px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-transition:all 500ms ease;

}


.social ul li .icon-facebook{background: #3b5998;}
.social ul li .icon-twitter{background: #08a0e9;}
.social ul li .icon-instagram{background:#C13584;}
.social ul li .icon-mail{background:#FE9FE7;}
.social ul li .icon-linkedin{background:#0077B5;}


.social ul li a:hover{

	padding:10px 30px; 
}



.padreImagenes{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

}

.hijosImagenes{

	align-self: center;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px
	margin-left:5px;
	
}

.ulIndexBubba{

	list-style-type: none;
	overflow: hidden;
	background-color: #F19898;
}

.liIndexBubba{

	display: inline-block;
	width: 15%;
	position: relative;
	font-size:25px;

}

.menuPrincipal{

	display: flex;
	flex-direction:row;
	justify-content: space-between;
	background: #FACFFF;
	height: 45px;
	transition: height 2s;

}

.menuPrincipal a{
	flex: 1;
	color:#FFFFFF;
	display: flex;
	color: #FFFFFF;	
	font-size: 20px;
	justify-content: center;
	align-items: center;

}

.footer{

	background-color: #121111;
	width:100%;
	height:300px; 
	bottom:0;
	position: relative;
	text-align: center;
	color:white;

}


.mapa {

	align-items: left;
}


.tarjetas{

	align-items: start;
	justify-content: center;
	margin:auto;
	font-family: "Nunito", sans-serif;
	font-size: 20px;
	font-weight: 200;
	padding: 0px;
	text-align: center;
	color:#FFFFFF;
}

.divTarjetas{

	
	align-items: center;
	justify-content: center;
	

}


.padreTarjetas{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

}


.hijosTarjetas{

	align-items: center;
	margin-right: 30px;
	align-content: center;
	margin-top: 10px;
	margin-bottom: 15px;

	
}

.titulosTarjetas{

	font-family: "Nunito", sans-serif;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	text-decoration: underline;
	color:#FFFFFF;

}


@media screen and (max-width:1920px)

{
	body{

		background-color:#000000;
		color: #FFFFFF;
	}

	img{

		margin-left: 8px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width:1280px)

{
	body{

		background-color:#000000;
		color:#FFFFFF;
	}

	img{

		margin-left: 8px;
		margin-bottom: 10px;
	}
}


@media screen and (max-width:800px)

{
	body{

		background-color:#000000;
		color: #FFFFFF;
	}

	img{

		margin-left: 10px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width:480px)

{
	body{

		background-color: #000000;
		color:#FFFFFF;
	}

	img{

		margin-left: 80px;
		margin-bottom: 15px;
	}

}

@media screen and (max-width:375px)

{
	body{

		background-color: #000000;
		color: #FFFFFF;	
	}

	img{

		margin-left: 6px;
		margin-bottom: 10px;
		width: 27%;
		height: 110px;

	}

}
